.about_card, .focus_card{
    height: fit-content;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border: 2px dashed lightgray;
    box-shadow: 5px 5px 5px lightgray;
    padding: 10px 30px;
}
.about_card p{
    text-align: justify;
}
.about_section{
    display: flex;
    margin-left: -250px;
    margin-top: 60px;
}
.about_card .drw3{
    margin-left: 200px;
}
.focus_card{
    display: flex;
    gap: 40px;
    margin-top: 150px;
    margin-left: -120px;
}
.focus_card p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.focus_card .drw4{
    height: 200px;
    width: 100px;
    margin-top: 50px;
}
.about_washi{
    height: 45px;
    width: 150px;
    position: relative;
}
.tape1{
    top: -25px;
    left: 325px;
}
.tape2{
    top: 125px;
    left: 180px;
}

@media (max-width: 768px) {

    .about_section{
        flex-direction: column;
        align-items: center;
        margin: -100px 0px 40px 0px;
        gap: 30px;
    }
    .about_card,
    .focus_card{
        width: 90%;
        max-width: 400px;
        margin: 0;
        box-sizing: border-box;
    }
    .about_card{
        margin-bottom: -60px;
    }
    .focus_card{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .about_card .drw3{
        display: block;
        margin: 20px auto 0;
        max-width: 120px;
    }
    .focus_card .drw4{
        margin-top: -30px;
        width: 80px;
        margin-left: 175px;
        transform: rotate(20deg);
    }
    .tape1{
        top: 55px;
        left: 0px;
    }
    .tape2{
        top: 50px;
        left: 0px;
    }
}