.exp_card h1{
    font-size: 18px;
}
.exp_card h2{
    font-size: 16px;
}
.exp_card h3{
    font-size: 14px;
}
.exp_cards{
    display: flex;
    margin-top: 50px;
}
.exp_card p{
    text-align: justify;
}
.exp_card{
    width: 400px;
    border: 2px solid lightgray;
    box-shadow: 2px 2px 5px lightgray;
    background-color: white;
    padding: 10px 30px;
    padding-left: 50px;
    margin-right: 20px;
    border-left: none;
}
.exp_card .exp_des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -100px;
}
.experience{
    margin-left: -475px;
}
.exp_card .paperclip{
    position: relative;
    height: 100px;
    width: 60px;
    top: -60px;
    left: -50px;
}
.exp_card .drawing{
    height: 200px;
    width: 150px;
    margin-left: 200px;
}
.exp_card .logo{
    height: 80px;
    width: 80px;
}
